
html { scroll-behavior: smooth;}

header{
    height: 5em;
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    transition: color 0.4s ease-in-out;
}
header nav{
  background-color: #c5568c;
  position: absolute;
  justify-content: center;
  display: flex;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50px;
  width: 80%;
}
header nav a{
  font-family: "McLaren", sans-serif;
  font-size: 20px;
  color: #93326b;
  transition-duration: 0.4s;
  padding-left: 2%;
  display: inline-block;
}

header.scrolled nav a{
color:#fca155;
}

header.scrolled{
background-color: #fca155;
opacity: 0.98;
}

backbutton{
  position: sticky;
  top: 10px;
  margin-top: 2%;
  margin-left: 1%;
  padding: 10px;
  transition: color 0.4s ease-in-out;
  background-color: #fca155;
  color: #a11e3b;
  font: "McLaren", sans-serif;
  font-size: 20px;
  border-radius: 50px;
  width: auto;

}

.backbutton:hover{
  background-color:#b8437b;
  color: white;
}

button{
  background-color: white;
  border-radius: 30px;
  border-color: white;
  padding: 10px;
}

.button:hover{
  background-color:#b8437b;
  color: white;
}


body{
    background-color: white;
}

h1{
    color: black;
    font-family: "Rubik Scribble", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: -40px;
    margin-top: 10px;
}
h2{
    color: #a11e3b;
    font-family: "McLaren", sans-serif;
    font-size: 35px;
    text-align: center;
}
h3{
    color:#a11e3b;
    font-family: "McLaren", sans-serif;
    font-size: 30px;
    background-color:rgb(255, 216, 165);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}
h4{
    color: #a11e3b;
    font-family: "Rubik Scribble", sans-serif;
    font-size: 60px;
    text-align: center;
}
h5{
    color: #a11e3b;
    font-family: "McLaren", sans-serif;
    font-size: 23px;
    margin-top: 10px;
}
h6{
    color: #b8437b;
    font-family: "McLaren", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}




a:link{
    color: #a11e3b;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: #b8437b;
    background-color: transparent;
    text-decoration: none;
}


#Schwerni{
    margin-top: -20px;
    margin-bottom: -50px;
}

#bottom{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 15px;
    position: static;
}
#bottom_div{
    align-items: center;
    bottom: 0;
}

.links{
    font-family: "McLaren", sans-serif;
    font-size: 30px;
    margin-inline: 20px;
    border-radius: 30px;
    background-color: #b8437b;
    transition-duration: 0.4s;
}
.links:hover{
    background-color: orange;
    color: #a11e3b;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    justify-self: center;
    display: flex;
}

.portfolio_banner{
    width: 80%;
    height: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%
}

.portfolio_img{
  width:200px;
  height: 200px;
  display: block;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-flow: row wrap;
    align-content: center;
    column-gap: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
.container_02 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-flow: row wrap;
    align-content: center;
    column-gap: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
.project-background{
    background-color:rgb(255, 237, 212);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    padding-left: 2%;
    padding-right: 2%;
}
hr {
    border-top: dotted #fca155;
    max-width: 80%;
  }
  #vid {
    width: 80%;
    height: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;

}
.animate__animated.animate__bounce {
    --animate-duration: 10s;
    --animate-repeat: 50;
  }

 .animate__animated.animate__shakeY {
    --animate-duration: 20s;
    --animate-repeat: 50;
  }

.animate__animated.animate__slideOutUp{
    --animate-duration: 2s;
    --animate-repeat: 50;
}

.animate__animated.animate__headShake{
    --animate-duration: 5s;
    --animate-repeat: 50;
}

.animate__animated.animate__rollIn{
    --animate-duration: 0.5s;
    --animate-repeat: 50;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  table, th, td {
    border:1px white;
    border-radius: 20px;
    border-spacing: 10px;
    margin-left:15%;
    margin-right: 15%;
  }

  th {
    background-color: #fca155;
  }

  tr:nth-child(even){
    text-align: center;
  }

  tr:last-child{
    background-color:bisque;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .flex-item-left {
    flex: 50%;
  }
  
  .flex-item-right {
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
}

.content {
  padding: 16px;
}





