
body{
    background-color: white;
    margin: 0px;
    width: 100%;
    height: 100%;
}

h1{
    color: black;
    font-family: "Rubik Scribble", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: -40px;
    margin-top: 10px;
}
h2{
    color: #a11e3b;
    font-family: "McLaren", sans-serif;
    font-size: 35px;
    text-align: center;
}
h3{
    color: #b8437b;
    font-family: "McLaren", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: -60px;
}
h4{
    color: black;
    font-family: "Rubik Scribble", sans-serif;
    font-size: 60px;
}
h5{
    color: #a11e3b;
    font-family: "McLaren", sans-serif;
    font-size: 23px;
    margin-top: 10px;
}
h6{
    color: #b8437b;
    font-family: "McLaren", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
h7{
    color: #93326b;
    font-family: "McLaren", sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

p{
    color: #93326b;
    font-family: "McLaren", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
p2{
    color: black;
    font-family: "McLaren", sans-serif;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    display: block;
}

p3{
    color: #93326b;
    font-family: "McLaren", sans-serif;
    font-size: 30px;
    background-color: #fdad4f;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}


a:link{
    color: #a11e3b;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: #b8437b;
    background-color: transparent;
    text-decoration: none;
}


#Schwerni{
    margin-top: -20px;
    margin-bottom: -50px;
}

#bottom{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 15px;
    position: static;
    bottom: 0px;
}
#bottom_div{
    align-items: center;
    bottom: 0;
}

.links{
    font-family: "McLaren", sans-serif;
    font-size: 30px;
    margin-inline: 20px;
    border-radius: 30px;
    background-color: #b8437b;
    transition-duration: 0.4s;
}
.links:hover{
    background-color: #fdad4f;
    color: #a11e3b;
}


#buttonline{
    display: flex;
    background-color: #fca155;
    align-content: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 0px;
}
#buttonline_div{
    background-color: #fca155;
    align-items: center;
    margin-bottom: 0px;
}
.button{
    background-color:white;
    border: #fca155;
    border-radius: 30px;
    font-family: "McLaren", sans-serif;
    font-size: 20px;
    color: #93326b;
    margin-inline: 50px;
    margin-bottom: 0px;
    padding: 10px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color:#b8437b;
    color: white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    align-content: center;
    justify-content: center;
    justify-self: center;
    display: flex;
}

.portfolio_img{
    width:80%;
    height: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-flow: row wrap;
    align-content: center;
    column-gap: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
.container_02 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-flow: row wrap;
    align-content: center;
    column-gap: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
hr {
    border: none;
    border-top: 6px dotted #fca155;
    margin-left: 10%;
    margin-right: 10%;
  }
  #vid {
    width: 80%;
    height: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;

}




